## Python functions    (By Sunitha Mekala)

In [4]:
def greeting():  # define function
    print('hello') # print the statement
    print('good morning') 
# here we dont display the output as the funtion is not called.

In [6]:
def greeting():
    print('hello')
    print('good morning')
greeting()
# Here greeting() function is called so the output is displayed.

hello
good morning

In [8]:
# displaying the same output multiple times, but this is not the right way, eg: if we have
# to display 100 times
def greeting():
    print('hello')
    print('good morning')
greeting()

def greeting():
    print('hello')
    print('good morning')
greeting()

def greeting():
    print('hello')
    print('good morning')
greeting()

hello
good morning
hello
good morning
hello
good morning

In [10]:
def greet():
    print('hello')
    print('good morning')
greet()
print() # displays the space between particular output
greet()
print()
greet()
print()

hello
good morning

hello
good morning

hello
good morning

## Defining functions with arguments

In [15]:
def add(x,y):
    c=x+y
    print(c)  
add(5,6)

11

In [17]:
def add(x,y,z):
    c=x+y+z
    print(c)  
add(1,4,5)

10

In [19]:
def greeting():
    print('hello')
    print('good morning')
greeting()

def add(x,y,z):
    c=x+y+z
    print(c)  
add(1,4,5)

hello
good morning
10

In [21]:
def greeting():
    print('hello')
    print('good morning')
    
def add(x,y,z):
    c=x+y+z
    print(c)  

greeting()
add(1,4,5)

hello
good morning
10

In [23]:
def greeting():
    print('hello')
    print('good noon')
    
def add(x,y):
    c=x+y
    print(c)

def sub(x,y,z):
    d = x-y-z
    print(d)
    
greeting()    
add(5,4)
sub(10,2,4)
# you can create mutliple function and call them as many time as you want

hello
good noon
9
4

### Instead of print() its better to use return statement

In [26]:
def add(x,y):
    c=x+y
    return c

add(50,4)

54

In [30]:
def add(x,y):
    c=x+y
    d=x-y
    return c
    return d

sub(50,4)
add(50,4)

# diplays the error as the sub function is not defined

TypeError: sub() missing 1 required positional argument: 'z'

In [34]:
def add(x,y):
    c=x+y
    return c
    
def sub(x,y):
    d=x-y
    return d

su = sub(50,4)
ad = add(50,4)

print(su)
print(ad)

46
54

### Here i would like to return 2 values add_sub and function can return multiple values

In [39]:
def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d

result1, result2 = add_sub(40,3)
print(result1)
print(result2)

43
37

In [41]:
def add_sub_mul(x,y):
    c=x+y
    d=x-y
    e=x*y
    return c,d,e

result1, result2, result3 = add_sub_mul(40,3)
print(result1)
print(result2)
print(result3)

43
37
120

In [43]:
def add(x,y):
    c=x+y
    return c

score = add(50,3)
print(score)

53

## Actual Arguments 

## a) Positional Arguments

In [48]:
#Postional arguments
def person(name,age):
    print(name)
    print(age)
    
person('nit',22)

nit
22

In [50]:
def person(name,age):
    print(name)
    print(age)
    
person(22,'nit')
# Here name stores 22 and age stores 'nit'

22
nit

## Positional arguments error

In [57]:
def person(name,age):
    print(name)
    print(age)
    
person('nit')

TypeError: person() missing 1 required positional argument: 'age'

## b) Keyword argument

In [64]:
def person(name,age):
    print(name)
    print(age-5)
    
person(22,'nit')
# Here name stores 22 and age stores 'nit', so print(age-5) means str-5, which gives error

22

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [66]:
# As we got the above error we can follow this way
def person(name,age):
    print(name)
    print(age-5)
    
person(age = 22, name = 'nit')

nit
17

## c) Default Arugment

In [69]:
def person(name,age=18): # instead of passing actual argument by default we are setting the age
    print(name)
    print(age)
    
person('nit')

nit
18

In [73]:
def person(name,age=18):
    print(name)
    print(age)
    
person('nit',20)

#Here even though default age 18 is set, first preference it checks for the actual argument passed

nit
20